{% include 'header.html' %} 

{% include 'navbar.html' %} 
<div class ="container" style="text-align: center; margin-top: 2em;">
  <h2>{{droid_id}}<h2>
  <h2>{{title}} </h2>
    <a class="nav-link" href="/schedule_add"><input type=submit value="Add Days"> </a>
</div>
<!-- <div class="container" style="margin-top: 2em; max-width: fit-content;" style="display: flex; flex-direction: row; padding-right: 0; margin: 0.5em;"> -->
<!--<div class="container" style="display: flex; flex-direction: row; padding-right: 0; margin: 0.5em;"> -->
<div class="container" style="margin-top: 2em; max-width: fit-content;">
    <table id="data" class="table table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Start 1</th>
            <th>Stop 1</th>
            <th>Start 2</th>
            <th>Stop 2</th>
            <th>Start 3</th>
            <th>Stop 3</th>
            <th>Planned Kgs</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for row in schedule_model%}
            <tr>
                <td>{{row.schedule_date}}</td>
                <td >{{row.meal_1_start}}</td>
                <td>{{row.meal_1_stop}}</td>
                <td>{{row.meal_2_start}}</td>
                <td>{{row.meal_2_stop}}</td>
                <td>{{row.meal_3_start}}</td>
                <td>{{row.meal_3_stop}}</td>
                <td>{{row.plan_kgs}}</td>
                <td><a href="schedule_delete/{{row.id}}"><input type=submit value="Del"></a></td>
                <td><a href="/schedule_edit?id={{row.id}}"><input type=submit value="Edit" style="width:100%"> </a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% if invalid %}
<p style="margin-top: 0.5em; color: red">Could not add task.</p>
{% endif %}
{% include 'footer.html' %}
